* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: black;
}

.fondoBody {
  background-color: #222222;
}

.nav-link {
  color: orange;
  background-color: white;
  text-align: center;
}

.fondoBienvenida {
  color: orange;
  background-color: teal;
}

.fondoNaranja {
  color: black;
  background-color: rgb(252, 208, 125);
}

.footer {
  color: white;
  background-color: #222222;
  text-align: center;
}
.colorTexto{
  color: white;
}